<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huimee.advertlibrary">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <activity android:name=".SuspensionActivity"></activity>
        <activity android:name=".WebViewActivity"/>
    </application>

</manifest>